<lsf>

    <initials>
        <reference length="5" />
        <!-- axis length; "0" means no axis displayed -->
        <root id="scene" />
        <!-- identifier of root node of the scene graph; this node -->
        <!-- must be defined in one of the following NODE declarations -->
    </initials>
    <!--                -->
    <!--     Views      -->
    <!--                -->
    <views default="Main Camera">
        <ortho id="Main Camera" near="0.1" far="500" left="-4" right="4" top="4" bottom="-4">
            <from x="0" y="0" z="10" />
            <to x="0" y="0" z="0" />
            <up x="0" y="1" z="0" />
        </ortho>
    </views>

    <illumination>
        <ambient r="0.2" g="0.2" b="0.2" a="1.0" />
        <background r="0.0" g="0.0" b="0.0" a="1.0" />
    </illumination>


    <!--                -->
    <!--     Lights     -->
    <!--                -->
    <lights>
        <light id="Extra">
            <enable value="1" />

            <position x="6" y="5" z="16" w="1.0" />
            <ambient r="0" g="0" b="0" a="1.0" />
            <diffuse r="1.0" g="1.0" b="1.0" a="1.0" />
            <specular r="1.0" g="1.0" b="1.0" a="1.0" />
        </light>

        <light id="Sun">
            <enable value="1" />

            <position x="100" y="100" z="-100" w="1.0" />
            <ambient r="0.25" g="0.25" b="0.25" a="0.25" />
            <diffuse r="0.25" g="0.25" b="0.25" a="0.25" />
            <specular r="0.25" g="0.25" b="0.25" a="0.25" />
        </light>
    </lights>


    <!--                -->
    <!--    Textures    -->
    <!--                -->
    <textures>
        <texture id="background" path="scenes/images/tile.jpg" />
        <texture id="defaultTexture" path="scenes/images/tile.jpg" />
    </textures>

    <spritesheets/>

    <!--                -->
    <!--    Materials   -->
    <!--                -->
    <materials>
        <material id="defaultMaterial" >
            <shininess value="5" />
            <ambient r="1.0" g="1.0" b="1.0" a="1.0" />
            <diffuse r="1.0" g="1.0" b="1.0" a="1.0" />
            <specular r="1.0" g="1.0" b="1.0" a="1.0" /> 
            <emissive r="1.0" g="1.0" b="1.0" a="1.0" />
        </material>
    </materials>


    <!--                -->
    <!--   Animations   -->
    <!--                -->
    <animations/>


    <nodes>
        <node id="scene">         

            <material id="defaultMaterial" />
            <texture id="defaultTexture">
             <amplification afs="1.0" aft="1.0" />
            </texture>

            <transformations>
            </transformations>

            <descendants>
                <noderef id="background" />             
            </descendants>
        </node>

        <node id="background">         

            <material id="null" />
            <texture id="background">
             <amplification afs="1.0" aft="1.0" />
            </texture>

            <transformations>
                <translation x="0" y="10" z="0" />
                <rotation axis="x" angle="0"/>
            </transformations>

            <descendants>
                <noderef id="background_front" />            
            </descendants>
        </node>

        <node id="background_front">         

            <material id="null" />
            <texture id="background">
             <amplification afs="0.3" aft="0.3" />
            </texture>

            <transformations>
                <translation x="0" y="-10" z="0" />
                <scale sx="10" sy="10" sz="10" />
                <rotation axis="y" angle="0"/>
                

            </transformations>

            <descendants>
                <leaf type="rectangle" x1="-0.5" y1="-1.0" x2="0.5" y2="1.0"/>
            </descendants>
        </node>
    </nodes>

</lsf>